PORT=5000
MONGO_URI=mongodb://localhost:27017/temple_tickets
JWT_SECRET=82c8b3fb36ca1834035861cda178880b1cfeb25194c27f79fe428e5a37b94dc2
CLOUDINARY_CLOUD_NAME=df4jjxh9n
CLOUDINARY_API_KEY=388977393817972
CLOUDINARY_API_SECRET=umuoZJqOEXhA3NiLDwTwTe1VJpI
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://temple-ticket-manager:q2LeZqBSou6rQF3A@cluster1.pitb7ob.mongodb.net/?appName=Cluster1
